@import "../../assets/variables.scss";

.button {
  font-weight: $extrabold;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 16px;
  border: 0;
}

.primary {
  background-color: $primary001;
  color: $white;

  &:hover {
    background-color: $primary002;
  }

  &:disabled {
    background-color: $primary003;
  }
}

.secondary {
  background-color: $white;
  border: 1px solid $grey001;
  color: $black;
  font-weight: $semibold;

  &:hover {
    border-color: $black;
  }

  &:disabled {
    color: $grey001,;
  }
}

.danger {
  background-color: $danger001;
  color: $white;

  &:hover {
    background-color: $danger002;
  }

  &:disabled {
    background-color: $danger003;
  }
}

.fullw {
  width: 100%;
}
