.container {
  max-width: 800px;
  width: 100%;
  padding: 32px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media (min-width: 800px) {
    border-radius: 6px;
    overflow-y: scroll;
    padding: 48px;
    min-height: 650px;
    margin-top: 82px;
  }
}
