@import "../../assets/variables.scss";

.card {
    width: 100%;
    border: solid 2px $grey003;
    border-radius: 4px;
    padding: $M-spacing;
    display: flex;
    align-items: center;

    &__text {
        display: flex;
        flex-direction: column;

        & > p {
            margin-top: $S-spacing;
            font-weight: $regular;
        }
    }

    &__image-container {
        height: 47px;
        width: 47px;
        margin-right: $M-spacing;
    }

    &__right-content {
        margin-left: auto;
    }

    &_disabled {
        background-color: $grey003;
        color: $grey001;

        & img {
            filter: grayscale(100%) opacity(50%);
        }
    }
}
