@import "../../assets/variables.scss";

@mixin icons {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.icon {
  @include icons;
}

.button-icon {
  @include icons;

  cursor: pointer;
}

.blue {
  color: $primary001;
}

.red {
  color: $danger001;
}

.green {
  color: $success001;
}

.white {
  color: $white;
}

.black {
  color: $black;
}

.small {
  font-size: 1em;
}

.medium {
  font-size: 1.5em;
}

.large {
  font-size: 2em;
}
