@import "../../../assets/variables.scss";

.recipeCreationForm {
  min-height: calc(100vh - ((2 * $L-spacing) + $nav-height));
  display: flex;
  flex-direction: column;

  .headline {
    margin-bottom: $M-spacing;
  }

  .buttonGroup {
    margin-top: auto;
  }

  .actionButton {
    margin-bottom: 30px;
  }

  .emptyState {
    margin-top: 5px;
  }
}
