@import "../../assets/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .header {
    width: 100%;
    text-align: left;
  }
}

.button {
  position: sticky;
  top: 90%;

  &--multiple {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .instance {
      width: 48%;
    }
  }
}

.input {
  width: 100%;
}

.a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}
