/*colors*/
//blue
$primary001: #7BB9FA;
$primary002: #499FF8;
$primary003: #d7eafd;
//green
$success001: #38DB81;
$success002: #21B965;
$success003: #86E9B2;
//red
$danger001: #F67F7F;
$danger002: #F34E4E;
$danger003: #FCD9D9;
//grey
$grey001: #D0D0D0;
$grey002: #BFBFBF;
$grey003: #F1F1F1;
//other
$black: #282828;
$white: #FFFFFF;