/* colors */
//blue
$primary001: #7bb9fa;
$primary002: #499ff8;
$primary003: #d7eafd;
//green
$success001: #38db81;
$success002: #21b965;
$success003: #86e9b2;
//red
$danger001: #f67f7f;
$danger002: #f34e4e;
$danger003: #fcd9d9;
//grey
$grey001: #d0d0d0;
$grey002: #bfbfbf;
$grey003: #f1f1f1;
//other
$black: #282828;
$white: #fff;
